/* imported from google font*/

<style>
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');
</style>



.{  

    font-family: 'Work Sans';

}

header{

  width: 1920px;
  height: 130px;
  flex-shrink: 0;
  
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);



  /*background-color:#FFF ;
padding: 50px 250px;*/

}

nav{

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title{

font-size:45px ;
font-weight:700 ;
color:#0B0223 ;

}

nav > ul{
  display: flex;
}

nav >li{

  list-style: none;
  margin-right: 40px;
  font-weight: 500;
  font-size: 18px;
}

nav li a{

  text-decoration: none;
  color: #3C354F;
}
