/* imported from google font*/

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');





*{
  font-family: 'Work Sans';
}
   

header{

  
background-color:rgba(0, 0, 0, 0.05) ;
padding: 50px 250px;

}

nav{

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title{

font-size:45px ;
font-weight:700 ;
color:#0B0223 ;

}

nav > ul{
  display: flex;
}

nav >li{

  list-style: none;
  margin-right: 40px;
  font-weight: 500;
  font-size: 18px;
}

nav li a{

  text-decoration: none;
  color: #3C354F;
}
